In [2]:
import pandas as pd
data= pd.read_csv("titanic.csv")

In [3]:
data["Name"].str.lower()

0                                braund, mr. owen harris
1      cumings, mrs. john bradley (florence briggs th...
2                                 heikkinen, miss. laina
3           futrelle, mrs. jacques heath (lily may peel)
4                               allen, mr. william henry
                             ...
886                                montvila, rev. juozas
887                         graham, miss. margaret edith
888             johnston, miss. catherine helen "carrie"
889                                behr, mr. karl howell
890                                  dooley, mr. patrick
Name: Name, Length: 891, dtype: object

In [4]:
data["Name"].str.upper()

0                                BRAUND, MR. OWEN HARRIS
1      CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...
2                                 HEIKKINEN, MISS. LAINA
3           FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)
4                               ALLEN, MR. WILLIAM HENRY
                             ...
886                                MONTVILA, REV. JUOZAS
887                         GRAHAM, MISS. MARGARET EDITH
888             JOHNSTON, MISS. CATHERINE HELEN "CARRIE"
889                                BEHR, MR. KARL HOWELL
890                                  DOOLEY, MR. PATRICK
Name: Name, Length: 891, dtype: object

In [5]:
data["Name"].str.split()

0                           [Braund,, Mr., Owen, Harris]
1      [Cumings,, Mrs., John, Bradley, (Florence, Bri...
2                             [Heikkinen,, Miss., Laina]
3      [Futrelle,, Mrs., Jacques, Heath, (Lily, May, ...
4                          [Allen,, Mr., William, Henry]
                             ...
886                            [Montvila,, Rev., Juozas]
887                    [Graham,, Miss., Margaret, Edith]
888       [Johnston,, Miss., Catherine, Helen, "Carrie"]
889                           [Behr,, Mr., Karl, Howell]
890                              [Dooley,, Mr., Patrick]
Name: Name, Length: 891, dtype: object

In [6]:
data["Name"].str.count("Mr.")

0      1
1      1
2      0
3      1
4      1
      ..
886    0
887    0
888    0
889    1
890    1
Name: Name, Length: 891, dtype: int64

In [7]:
data["Name"].str.contains("Mr.")

0       True
1       True
2      False
3       True
4       True
       ...
886    False
887    False
888    False
889     True
890     True
Name: Name, Length: 891, dtype: bool

In [9]:
data["Name"].str.startswith("Andersson").sum()

9

In [10]:
data["Name"].str.startswith("PÃ©rez").any()

False

In [12]:
data["Name"].str.len()

0      23
1      51
2      22
3      44
4      24
       ..
886    21
887    28
888    40
889    21
890    19
Name: Name, Length: 891, dtype: int64

In [13]:
s = pd.Series(["abc", "ABC", "007", "abc007"])

In [14]:
s.str.isalpha()

0     True
1     True
2    False
3    False
dtype: bool

In [15]:
s.str.islower()

0     True
1    False
2    False
3     True
dtype: bool

In [16]:
s.str.isnumeric()

0    False
1    False
2     True
3    False
dtype: bool

In [18]:
data["Name"].str[0:3]

0      Bra
1      Cum
2      Hei
3      Fut
4      All
      ...
886    Mon
887    Gra
888    Joh
889    Beh
890    Doo
Name: Name, Length: 891, dtype: object

In [19]:
data["Name"].str[40]

0      NaN
1        g
2      NaN
3        e
4      NaN
      ...
886    NaN
887    NaN
888    NaN
889    NaN
890    NaN
Name: Name, Length: 891, dtype: object