In [14]:

import numpy as np
import pandas as pd

pd.Series([10,2,5])

0    10
1     2
2     5
dtype: int64

In [17]:
vector = np.array([5,4,3])
pd.Series(vector)

0    5
1    4
2    3
dtype: int32

In [11]:
import pandas as pd

data = [[1, 'a'], [2, 'b'], [3, 'c']]
df = pd.DataFrame(data)
print(df)

   0  1
0  1  a
1  2  b
2  3  c

In [12]:
import numpy as np
import pandas as pd

data = np.array([[1, 'a'], [2, 'b'], [3, 'c']])
df = pd.DataFrame(data)
print(df)

   0  1
0  1  a
1  2  b
2  3  c

In [13]:
import pandas as pd

data = [[1, 'a'], [2, 'b'], [3, 'c']]
columns = ['num', 'letter']
df = pd.DataFrame(data, columns=columns)
print(df)

   num letter
0    1      a
1    2      b
2    3      c

In [18]:
import pandas as pd

df = pd.read_csv('titanic.csv')
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [19]:
selected_columns = df[["Survived", "Pclass", "Age", "Sex"]]
print(selected_columns)

     Survived  Pclass   Age     Sex
0           0       3  22.0    male
1           1       1  38.0  female
2           1       3  26.0  female
3           1       1  35.0  female
4           0       3  35.0    male
..        ...     ...   ...     ...
886         0       2  27.0    male
887         1       1  19.0  female
888         0       3   NaN  female
889         1       1  26.0    male
890         0       3  32.0    male

[891 rows x 4 columns]

In [20]:
selected_rows = df.loc[200:400, ["Name", "Age"]]
print(selected_rows)

                                 Name   Age
200    Vande Walle, Mr. Nestor Cyriel  28.0
201               Sage, Mr. Frederick   NaN
202        Johanson, Mr. Jakob Alfred  34.0
203              Youseff, Mr. Gerious  45.5
204          Cohen, Mr. Gurshon "Gus"  18.0
..                                ...   ...
396               Olsson, Miss. Elina  31.0
397           McKane, Mr. Peter David  46.0
398                  Pain, Dr. Alfred  23.0
399  Trout, Mrs. William H (Jessie L)  28.0
400                Niskanen, Mr. Juha  39.0

[201 rows x 2 columns]

In [21]:
df.rename(columns={"PassengerId": "ID"}, inplace=True)
print(df.head())

   ID  Survived  Pclass                                               Name  \
0   1         0       3                            Braund, Mr. Owen Harris
1   2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2   3         1       3                             Heikkinen, Miss. Laina
3   4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4   5         0       3                           Allen, Mr. William Henry

      Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0    male  22.0      1      0         A/5 21171   7.2500   NaN        S
1  female  38.0      1      0          PC 17599  71.2833   C85        C
2  female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
3  female  35.0      1      0            113803  53.1000  C123        S
4    male  35.0      0      0            373450   8.0500   NaN        S

In [22]:
selected_data = df.loc[(df["Sex"] == "female") & (df["Pclass"] == 1)]
print(selected_data)

      ID  Survived  Pclass                                               Name  \
1      2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
3      4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
11    12         1       1                           Bonnell, Miss. Elizabeth
31    32         1       1     Spencer, Mrs. William Augustus (Marie Eugenie)
52    53         1       1           Harper, Mrs. Henry Sleeper (Myna Haxtun)
..   ...       ...     ...                                                ...
856  857         1       1         Wick, Mrs. George Dennick (Mary Hitchcock)
862  863         1       1  Swift, Mrs. Frederick Joel (Margaret Welles Ba...
871  872         1       1   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
879  880         1       1      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
887  888         1       1                       Graham, Miss. Margaret Edith

        Sex   Age  SibSp  Parch    Ticket      Fare Cabin Embarked
1    female  38.0      1      0  PC 17599   71.2833   C85        C
3    female  35.0      1      0    113803   53.1000  C123        S
11   female  58.0      0      0    113783   26.5500  C103        S
31   female   NaN      1      0  PC 17569  146.5208   B78        C
52   female  49.0      1      0  PC 17572   76.7292   D33        C
..      ...   ...    ...    ...       ...       ...   ...      ...
856  female  45.0      1      1     36928  164.8667   NaN        S
862  female  48.0      0      0     17466   25.9292   D17        S
871  female  47.0      1      1     11751   52.5542   D35        S
879  female  56.0      0      1     11767   83.1583   C50        C
887  female  19.0      0      0    112053   30.0000   B42        S

[94 rows x 12 columns]

In [23]:
selected_data = df.loc[(df["Sex"] == "male") & (df["Pclass"] == 2) & (df["Age"] < 18)]
print(selected_data)

      ID  Survived  Pclass                             Name   Sex    Age  \
78    79         1       2    Caldwell, Master. Alden Gates  male   0.83
183  184         1       2        Becker, Master. Richard F  male   1.00
193  194         1       2       Navratil, Master. Michel M  male   3.00
340  341         1       2   Navratil, Master. Edmond Roger  male   2.00
407  408         1       2   Richards, Master. William Rowe  male   3.00
549  550         1       2   Davies, Master. John Morgan Jr  male   8.00
755  756         1       2        Hamalainen, Master. Viljo  male   0.67
791  792         0       2              Gaskell, Mr. Alfred  male  16.00
827  828         1       2            Mallet, Master. Andre  male   1.00
831  832         1       2  Richards, Master. George Sibley  male   0.83
841  842         0       2         Mudd, Mr. Thomas Charles  male  16.00

     SibSp  Parch           Ticket     Fare Cabin Embarked
78       0      2           248738  29.0000   NaN        S
183      2      1           230136  39.0000    F4        S
193      1      1           230080  26.0000    F2        S
340      1      1           230080  26.0000    F2        S
407      1      1            29106  18.7500   NaN        S
549      1      1       C.A. 33112  36.7500   NaN        S
755      1      1           250649  14.5000   NaN        S
791      0      0           239865  26.0000   NaN        S
827      0      2  S.C./PARIS 2079  37.0042   NaN        C
831      1      1            29106  18.7500   NaN        S
841      0      0      S.O./P.P. 3  10.5000   NaN        S

In [24]:
mean_age_by_sex = df.groupby("Sex")["Age"].mean()
print(mean_age_by_sex)

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

In [25]:
survivors_by_sex = df.groupby("Sex")["Survived"].sum()
print(survivors_by_sex)

Sex
female    233
male      109
Name: Survived, dtype: int64